extends _layout

append styles
  +css-link-out('https://cdn.bootcss.com/pure/1.0.0/pure-min.css')
  +css-link-out('https://cdn.bootcss.com/Swiper/4.0.1/css/swiper.min.css')
  +css-link-out('https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css')
  +css-link('bundle')

//- block body
//-   include partial/splash.pug
//-   include partial/upline.pug
//-   include partial/links.pug

block foot
  include partial/copyright.pug

append foot-scripts
  //- +js-link-out('https://cdn.bootcss.com/vue/2.4.4/vue.min.js')
  +js-link-out('https://cdn.bootcss.com/axios/0.16.2/axios.min.js')
  +js-link-out('https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js')
  +js-link-out('https://cdn.bootcss.com/Swiper/4.0.1/js/swiper.min.js')
  +js-link-out('https://cdn.bootcss.com/Chart.js/2.7.0/Chart.bundle.min.js')
  +js-link('index')
